html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'minecraft', sans-serif;
}
body{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.right{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
}
.row{
    display: flex;
    width: 100vw;
}
.boardTile{
    box-sizing: border-box; /*the combination of flex and aspect ratio affects the border, therefor this line ensures the correct borders are rendered*/
    margin: 0;
    padding: 0;
    width: calc(100vw/15);
    height: calc(100vh / 15);
    background-image: url('./pics/sky.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
}
.boardTile:hover{
    opacity: 0.7; /* Slightly transparent */
}

.boardTile.soil:hover,
.boardTile.rock:hover,
.boardTile.grass:hover,
.boardTile.treeTrunk:hover,
.boardTile.leaves:hover {
    outline: 1px solid rgb(242, 255, 208);
    opacity: 0.7; /* Slightly transparent */
}

.rock{
    background-image: url('./pics/rocks.jfif'); 
    background-size: cover; 
    background-repeat: no-repeat;
}
.soil{
    background-image: url('./pics/ground.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
}
.grass{
    background-image: url('./pics/grass.jfif'); 
    background-size: cover; 
    background-repeat: no-repeat;
}
.treeTrunk{
    background-image: url('/pics/treetrunk.avif'); 
    background-size: cover; 
    background-repeat: no-repeat;
}
.leaves{
    background-image: url('./pics/leaves.jfif'); 
    background-size: cover; 
    background-repeat: no-repeat;
}

/* menu */
.left{
    position: fixed; /* Keep it floating on the screen */
    top: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 80vh; 
    z-index: 10; /* Ensures it's always on top */
}

.left div{
    margin: 5%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 0.8em;; */
}
.left img {
    width: 80%;
    height: 80%;
    object-fit: contain; /* The image will fit inside the div without being cropped */
}
.left .clicked{
    border: 3px solid gray;
    border-radius: 8px;
}

#rockPlacer{
    background-image: url('./pics/rocks.jfif');  
    background-size: cover; 
    background-repeat: no-repeat;
    width: 30%;
    height: 30%;
    aspect-ratio: 1; 
}
#soilPlacer{
    background-image: url('./pics/ground.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    width: 30%;
    height: 30%;
    aspect-ratio: 1; 
    /* border-radius: 10px; */
}

#grassPlacer{
    background-image: url('./pics/grass.jfif');  
    background-size: cover; 
    background-repeat: no-repeat;
    width: 30%;
    height: 30%;
    aspect-ratio: 1; 
}
#trunkPlacer{
    background-image: url('./pics/treetrunk.avif');  
    background-size: cover; 
    background-repeat: no-repeat;
    width: 30%;
    height: 30%;
    aspect-ratio: 1; 
}
#leavesPlacer{
    background-image: url('./pics/leaves.jfif');  
    background-size: cover; 
    background-repeat: no-repeat;
    width: 30%;
    height: 30%;
    aspect-ratio: 1; 
}
/* .display{
    display: none;
} */